<div class="full-width panel-wrapper">
    <div class="container panel-header">
      <ul class="list-inline header-links">
       <!-- <li class="hidden-tablet hidden-mobile">
          <a href="http://www.savagegear-usa.com" target="_blank">www.savagegear-usa.com</a>
        </li> -->
        <li>
          <a href="/account">My Profile</a>
        </li>
        <li class="find-dealer">
          <a href="/apps/store-locator">Find A Dealer</a>
        </li>
        <li class="hidden-tablet hidden-mobile">
          <a href="/blogs/news">News & Events</a>
        </li>
        <li class="language-switcher">
          <a href="#">US</a>
        </li>
      </ul> 
    </div>
</div>