<form action="/search" method="get" role="search">
    <div class="search_form">
        <div class="button-search"></div>
        <input type="search" name="q" class="input-block-level search-query" id="search_query" placeholder="{{ 'search.general.placeholder' | t }}"
        />
        <div id="autocomplete-results" class="autocomplete-results"></div>
        <input type="hidden" name="type" value="product" />
    </div>
</form>