<div id="what-inspires-you">
  {% section 'video-header' %}
  {% section 'hakai-reel-header' %}
  {% section 'video_banner' %}
  {% section 'hakai-reel-images' %}
  {% section 'hakai-reel-features' %}
  {% section 'hakai-reel-manifesto' %}
  {% comment%}
  {% section 'hakai-reel-custom-story' %}
  {% section 'hakai-reel-custom-manifesto' %}
  {% endcomment%}
  {% section 'hakai-reel-story' %}
  {% section 'video_banner_bottom'%}

  {% section 'hakai-reel-action' %}
  {% section 'hakai-reel-footer' %}
 </div>



<style>
  
  #footer{
    display:none;
  }
  #shopify-section-hakai-reel-footer{
    padding:0px;
  }
  #shopify-section-hakai-reel-header,#shopify-section-hakai-reel-manifesto{
    padding:0px;
  }
  body {
    color: #333;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.6;
    font-family: Roboto,sans-serif;
    background-color: #000;
 }
  .inspires-section {
    padding: 0;
 }

</style>
{%render 'youtube'%}