<div id="what-inspires-you">
{% section 'inspires-header' %}
{% section 'inspires-manifesto' %}
{% section 'inspires-custom-story' %}
{% section 'inspires-custom-manifesto' %}
{% section 'inspires-story' %}
{% section 'inspires-action' %}
{% section 'inspires-footer' %}
</div>